*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    border-radius: 2px;
}
h3{
    text-align: center;
    margin: 110px 7px;
   
}

.myForm{
    display: flex;
    margin-top: 20px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
    

}

.myInput{
     width: 80%;
     padding: 15px;
     margin: 10px;
     outline: none;
     border-radius: 12px;
     font-size: 20px;

}

.btn{
    padding: 12px 50px;
    margin: 10px auto;
    background-color: rgb(125, 129, 129);
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
    margin-bottom: 20px;
}

.container{
      min-height: 80vh;
      flex: flex;
      flex-direction: column;
      align-items: center;
}



