<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GYM</title>
    style
        include ../static/style.css
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/">About</a></li>
            <li><a href="/">Contact Us</a></li><a href=""></a>
            <li><a href="/">Enquiry</a></li>
        </ul>
    </nav>

    <div class="container">
        <h2>GYM MEMBERSHIP</h2>


        <form action="/" method="post" id="Id">
            <input type="text" name="name" id="name" placeholder="Enter Your Name">
            <input type="number" name="age" id="age" placeholder="Enter Your Age">
            <input type="text" name="gen" id="gen" placeholder="Enter Your Gender">
            <textarea name="address" id="add" cols="30" rows="10" placeholder="Enter Your Address"></textarea>

            <button class="btn">Submit</button>
        </form>

      
    </div>
</body>
</html>